#preview{
    height: 633px;
    background-image: url("../../assets/home/desktop/image-hero.jpg");
    background-repeat: no-repeat;
    /* background-size: 100%; */
    background-position: 40% -100px;
    background-color: #191919;
    color: #ffffff;

    padding-left: 11.5%;
    padding-right: 11.5%;
    display: flex;
    flex-direction: column;  
    font-family: "Manrope";
}#preview-container{
    margin-top : 128px;    

}#preview-container span{
    display: block;
    text-transform: uppercase;
    font-size: 14px;
    opacity: 0.5;
    letter-spacing: 10px;
    margin-bottom: 24px;
}#preview-container h1{
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 56px;
    max-width: 400px;
    line-height: 56px;
    margin-bottom: 24px;
}#preview-container p{
    max-width: 350px;
    opacity: 0.75;
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 40px;
}

@media (max-width: 790px) {
    #preview{
        background-image: url("../../assets/home/tablet/image-header.jpg");
        background-repeat: no-repeat;
        background-position: center -100px;
        background-size: 770px;
    
        justify-content: center;
        align-items: center;
    } #preview-container{
        margin-top: 0;
        text-align: center;
    }
}

@media (max-width: 450px){
    #preview{
        height: 512px;
        background-image: url("../../assets/home/mobile/image-header.jpg");
        background-position: center -130px;
        background-size: 400px;
    }#preview-container h1{
        letter-spacing: 1.29px;
        font-size: 36px;
    }
}
