#checkout-container{
    display: flex;
    padding: 75px 11.5%;
    background-color: #F2F2F2;
}

@media (max-width: 1100px){
    #checkout-container{
        flex-direction: column;
    }
    #checkout-container > *{
        width: 100% !important;
    }
}

@media (max-width: 800px){
    #checkout-container{
        padding: 48px 5.2%;
    }
}